@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(234, 228, 223);
  font-family: Century Gohtic, sans-serif;
  color: rgb(148, 107, 87);
}

button {
  cursor: pointer;
}

.extrato {
  width: 90%;
  display: grid;
  grid-column: 33% 33% 33%;
  grid-row: auto;
  justify-items: center;
  grid-template-areas: "titulo . ."
    "saldo receita despesa";
  border-radius: 5px;
  margin-left: 2%;
  margin-top: 5%;
  padding-top: 2%;
  background: white
}

.extrato h1 {
  font-size: 16pt;
  grid-area: titulo;
  justify-self: left;
  margin-bottom: 5%;
  margin-left: 2%;
}

.conteudo h1 {
  font-size: 16.5pt;
}

.extrato img {
  margin-left: 35%;
}

.saldo {
  grid-area: saldo;
}

.receita {
  grid-area: receita;
}

.despesa {
  grid-area: despesa;
}


.extrato input {
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

.container {
  width: 90%;
  height: 100%;
  margin-left: 2%;
  margin-top: 25%;
  border-radius: 5px;
  background: white
    /*rgb(234, 228, 223);*/
}

.header {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 12px;
}

.conteiner_principal {
  width: 85%;
  display: grid;
  grid-template-columns: 20% 100%;
  grid-template-rows: auto;
  grid-template-areas: "logo . "
    "menu conteudo";
}

.logo {
  grid-area: logo;
}

.menu {
  grid-area: menu;
}

.conteudo {
  grid-area: conteudo;
  margin-top: -20%;
}

#tipo {
  border-radius: 5px;
  width: 150px
}

.header span {
  font-weight: 900;
  font-size: 30px;
  word-break: break-all;
}

#new {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(148, 107, 87);
}

.divTable {
  padding: 10px;
  width: auto;
  height: inherit;
  overflow: auto;
}

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: black;
}

.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgray;

}

table {
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}

thead {
  background-color: (148, 107, 87);
}

tr {
  border-bottom: 1px solid rgb(148, 107, 87) !important;
}

tbody tr td {
  vertical-align: text-top;
  padding: 6px;
  max-width: 50px;
}

thead tr th {
  padding: 10px;
  text-align: start;
  margin-bottom: 50px;
}

tbody tr {
  margin-bottom: 70px;
}

thead tr th.acao {
  width: 100px !important;
  text-align: center;

}

tbody tr td.acao {
  text-align: center;

}

@media (max-width: 700px) {
  body {
    font-size: 10px;
  }

  .header span {
    font-size: 15px;
  }

  #new {
    padding: 5px;
    font-size: 10px;
  }

  thead tr th.acao {
    width: auto !important;
  }

  td button i {
    font-size: 20px !important;
  }

  td button i:first-child {
    margin-right: 0;
  }

  .modal {
    width: 90% !important;

  }

  .modal label {
    font-size: 12px !important;
  }
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(234, 228, 223);
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;

}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
  overflow: auto;
  max-height: 90vh;
  box-sizing: border-box;

}

.modal label {
  font-size: 14px;
  width: 100%;
  color: black;

}

.modal input {
  width: 100%;
  outline: none;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.modal button {
  width: 100%;
  margin: 10px auto;
  outline: none;
  border-radius: 20px;
  padding: 5px 10px;
  width: 100%;
  border: none;
  background-color: rgb(148, 107, 87);
  color: white;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .4s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

td button {
  border: none;
  outline: none;
  background: transparent;
}

td button i {
  font-size: 25px;
}

td button i:first-child {
  margin-right: 10px;
}

#img-menu {
  margin-top: -35%;
  margin-left: 1%;
  width: 12%;
  height: 35%;
  display: block;
  grid-area: menu;
  justify-self: start;
}



/*MENU VISIVEIS*/
.menu {
  margin: 0;
  padding: 0;
}

.menu ul {
  list-style: none;
}

.menu li {
  width: 140px;
  height: auto;
  padding: 2%;
  margin: 2%;
  position: relative;
  border-bottom: rgb(148, 107, 87) 1px inset;
  list-style: none;
  text-align: left;

}


/*nível inferior do menu com display: none*/

.menu a {
  display: block;
  text-decoration: none;
  padding: 7px;
  background-color: rgb(234, 228, 223);
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgb(148, 107, 87);
  font-weight: bolder;
}

.menu a:hover {
  background-color: rgb(234, 228, 223);
  text-decoration: none;
  color: black
}

/*Estilo select*/
select {
  border-radius: 5px;
  width: 150px;
}