* html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*Estilo padrão*/
body {
    background-color: rgb(234, 228, 223);
    font-family: Century Gohtic, sans-serif;
    color: rgb(148, 107, 87);
}

/*Divisão do conteiner em grid.*/
.conteiner {
    width: 98%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: "logo titulo "
        ". conteudo";
}

/*Estilo do logo*/
.cabecalho {
    grid-area: logo;
}

/*Estilo do título*/
.titulo {
    grid-area: titulo;
    margin-left: 12%;
    margin-top: 10%;   
}

/*Estilo do conteúdo.*/
.conteudo {
    grid-area: conteudo;
    font-size: 8pt;
}

/*Estilo dos inputs*/
form input {
    width: 300px;
    height: 30px;
    border: 1px solid rgb(234, 228, 223);
    border-radius: 5px;
    font-size: 12pt;
}

/*Estilo dos botões*/
.input_btn {
    width: 305px;
    height: 30px;
    background-color: rgb(148, 107, 87);
    border: 1px solid rgb(148, 107, 87);
    border-radius: 5px;
    color: white;
    font-size: 10pt;
}

/*Estilo dos links*/
a {
    text-decoration: none;
    color:rgb(148, 107, 87);
    font-weight: 12;    
    font-size: 10pt;
    font-style: italic;  
    
}

/*Estilo do h3*/
h3 {
    font-size: 10pt;
    margin-left: 5%;   
}